<header>
  <div class="name_logo">
    <!-- <h1>Wesley Lima</h1> -->
  </div>

  <div class="header-components">
    <div class="home">
      <a class="header-text3" routerLink="">Home</a>
    </div>
    <div >
      <a class="header-text1" routerLink="about">Sobre mim </a>
    </div>
    <div class="header-text2">
      <a>Projetos</a>
    </div>
    <div class="form-check form-switch">

      <input
        class="form-check-input bg-dark"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
    </div>
  </div>

  <!-- <a class="logos"><i class="ph ph-at email"></i></a> -->
</header>
