<header>
  <div class="name_logo">
    <!-- <h1>Wesley Lima</h1> -->
  </div>
  <!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Home</span>
    <span class="example-spacer"></span>
    <div>
      <span class="text1">Sobre mim</span>
    </div>
    <div class="text2">
      <span>Projetos</span>
    </div>
  </mat-toolbar> -->

  <nav class="navbar">
    <!-- LOGO -->
    <i routerLink="" style="font-size: 2rem; cursor: pointer" class="ph-bold ph-house icon"></i>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->

      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li><a class="about" routerLink="about">Sobre mim</a></li>
        <li><a class="projects" routerLink="projects">Projetos</a></li>
      </div>
    </ul>
  </nav>

</header>
