.container {
  padding: 25px;
  margin: auto;
  width: 800px;
}

.welcome {
  color: white;
}

.tech {
  background-image: linear-gradient(90deg, #1978f3, #9ff9ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }
}

