<div class="container">
  <div>
    <span class="welcome">Seja bem-vindo, meu nome é Wesley tenho 24 anos e sou
      <span class="tech">Desenvolvedor Fullstack</span>.</span>
  </div>

  <div>
    <span class="welcome">
      Atualmente, as tecnologias que tenho <span class="tech">conhecimento</span> são:
    </span>
    <br><br>
    <span class="tech">->&nbsp;</span><span class="welcome">HTML</span> <br>
    <span class="tech">->&nbsp;</span><span class="welcome">CSS</span> <br>
    <span class="tech">->&nbsp;</span><span class="welcome">Angular</span> <br>
    <span class="tech">->&nbsp;</span><span class="welcome">Javascript</span> <br>
    <span class="tech">->&nbsp;</span><span class="welcome">Typescript</span> <br>
    <span class="tech">->&nbsp;</span><span class="welcome">Java</span> <br>
    <span class="tech">->&nbsp;</span><span class="welcome">Spring Boot</span> <br>
    <span class="tech">->&nbsp;</span><span class="welcome">Flutter/Dart</span> <br>
    <span class="tech">->&nbsp;</span><span class="welcome">Google Firebase</span> <br>
  </div>
</div>
