@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

section {
  color: white;
  position: relative;
  border-radius: 10px;
  margin: auto;
}

.msg {
  text-align: center;
  font-size: 70px;
}

.msg2 {
  text-align: center;
  font-size: 70px;
}

.span {
  color: aquamarine;
}

.social_medias {
  color: white;
  padding-top: 60px;
}

.linkedin,
.github,
.email {
  padding-left: 0.2em;
  font-size: 2.75rem;
}

.logos:hover {
  color: #186bbd;
  cursor: pointer;
}

.logos {
  padding-right: 15px;
  text-decoration: none;
  color: white;
}

.buttonLinkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
}

.buttonGithub {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
}

.buttonEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
}

.buttonLinkedin:hover {
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.buttonGithub:hover {
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.buttonEmail:hover {
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.text-welcome {
  font-size: 2rem;
}

.desc {
  font-size: 0.9rem;
  font-weight: 500;
  background-image: linear-gradient(90deg,#1978f3,#9ff9ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 6px;
}

.name-text {
  text-align: center;
}

