<body class="container">
    <header>
        <div class="name_logo">
            <h1>Wesley Lima</h1>
        </div>
        <div class="social_medias">
            <a class="logos"><i class="ph ph-linkedin-logo linkedin"></i></a>
            <a class="logos" ><i class="ph ph-github-logo github"></i></a>
            <a class="logos"><i class="ph ph-at email"></i></a>
        </div>
    </header>
    <section>
        <div>
            <h2 class="msg">Hi There! </h2>

              <div style="display: flex; justify-content: center; -webkit-text-stroke: 1px black; font-size: 1.4em">
                <h2>I'm </h2> <h2 style="padding-left: .4em;">{{ nomeMotrar.length ? nomeMotrar : palavrasMotrar }}</h2>
              </div>

        </div>
        <div>
            <!-- <h2 class="msg2">I'm <span class="tw">Front-End Developer</span> </h2> -->
        </div>
    </section>
</body>
