@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

section {
  color: white;
  position: relative;
  padding-top: 200px;
  width: 850px;
  padding: 15px;
  border-radius: 10px;
  margin: auto;
}

.msg {
  text-align: center;
  font-size: 70px;
}

.msg2 {
  text-align: center;
  font-size: 70px;
}

.span {
  color: aquamarine;
}

.social_medias {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  column-gap: 2rem
}

.name_logo {
  color: white;
  padding-left: 5em;
  margin-right: 20px;
  font-weight: bold;
}

.linkedin,
.github,
.email {
  padding-left: 0.7em;
  font-size: 3.75rem;
}

.logos:hover {
  color: #186bbd;
  cursor: pointer;
}

.logos {
  padding-right: 50px;
  text-decoration: none;
  color: white;
}

.header-components {
  cursor: pointer;
  padding-right: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

.header-text1,
.header-text2 {
  padding-right: 50px;
  text-decoration: none;
  color: white;
}

.header-text1:hover,
.header-text2:hover {
  color: black;
}

.buttonLinkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
}

.buttonGithub {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
}

.buttonEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
}

.buttonLinkedin:hover {
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.buttonGithub:hover {
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.buttonEmail:hover {
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}
